@font-face {
    font-family: 'avenir_black';
    src:
        url('/fonts/avenirltstd-black-webfont.woff2') format('woff2'),
        url('/fonts/avenirltstd-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'avenir_book';
    src:
        url('/fonts/avenirltstd-book-webfont.woff2') format('woff2'),
        url('/fonts/avenirltstd-book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'avenir_heavy';
    src:
        url('/fonts/avenirltstd-heavy-webfont.woff2') format('woff2'),
        url('/fonts/avenirltstd-heavy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'avenir_medium';
    src:
        url('/fonts/avenirltstd-medium-webfont.woff2') format('woff2'),
        url('/fonts/avenirltstd-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'avenir_lt_std55_roman';
    src:
        url('/fonts/avenirltstd-roman-webfont.woff2') format('woff2'),
        url('/fonts/avenirltstd-roman-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
