---
import BaseHead from '../components/layout/BaseHead.astro'
import Header from '../components/Header.svelte'
import Footer from '../layouts/Footer.astro'

interface Props {
    title: string
    description: string
    ogImage?: URL
}

const { title, description, ogImage } = Astro.props

const _ogImage = new URL(
    'https://res.cloudinary.com/dltdrlzdg/image/upload/v1720021067/ShMk1Iw_vrsqmi.webp',
)
---

<script is:inline>
    // We need this script here to avoid flashing the light theme before the dark theme is applied
    const theme = localStorage.getItem('theme')
    if (theme === 'dark') {
        document.documentElement.classList.add('dark')
    } else {
        document.documentElement.classList.remove('dark')
    }
</script>

<html lang="en" class="h-full">
    <BaseHead ogImage={_ogImage} title={title} description={description} />
    <Header client:only />
    <body class="bg-white dark:bg-black dark:text-white min-h-screen">
        <slot />
    </body><Footer />
</html>

<style is:global>
    @font-face {
        font-family: 'avenir_black';
        src:
            url('/fonts/avenirltstd-black-webfont.woff2') format('woff2'),
            url('/fonts/avenirltstd-black-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'avenir_book';
        src:
            url('/fonts/avenirltstd-book-webfont.woff2') format('woff2'),
            url('/fonts/avenirltstd-book-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'avenir_heavy';
        src:
            url('/fonts/avenirltstd-heavy-webfont.woff2') format('woff2'),
            url('/fonts/avenirltstd-heavy-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'avenir_medium';
        src:
            url('/fonts/avenirltstd-medium-webfont.woff2') format('woff2'),
            url('/fonts/avenirltstd-medium-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'avenir_lt_std55_roman';
        src:
            url('/fonts/avenirltstd-roman-webfont.woff2') format('woff2'),
            url('/fonts/avenirltstd-roman-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }

    h1,
    h2,
    h3 {
        font-family: 'avenir_black';
    }

    p,
    a,
    ul,
    li,
    button,
    input {
        font-family: 'avenir_book';
    }
</style>
